# 6. String, List, and Tuple

## 6.1 String

In [1]:
s1 = 'mitochondrion'

print(s1[0])
print(s1[1])
print(s1[2])
print('--------')
print(s1[-1])
print(s1[-2])
print('--------')
print(s1[3:])
print(s1[3:-1])
print(s1[3:-1:2])
print(s1[-1::-1])

m
i
t
--------
n
o
--------
ochondrion
ochondrio
ohnro
noirdnohcotim

In [2]:
s2 = 'Hi'
s3 = 'Ama'
s4 = '!!!'
s5 = s2 + ', ' + s3 + s4[0]
s6 = s2 + ', ' + s3 + s4*2
s7 = s6 + '\n\n'

print(s5)
print(s6)
print(s7)

Hi, Ama!
Hi, Ama!!!!!!
Hi, Ama!!!!!!

In [3]:
print(s1 + ': ' + str(len(s1)))

mitochondrion: 13

In [4]:
print(s6.lower())
print(s6.upper())
print(s6.replace('!!', '♥'))
print(s6.split(' '))
print(s7.strip())

hi, ama!!!!!!
HI, AMA!!!!!!
Hi, Ama♥♥♥
['Hi,', 'Ama!!!!!!']
Hi, Ama!!!!!!

## 6.2 List

In [5]:
empty_list = [] # empty_list = list()

print(empty_list)

[]

In [6]:
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]

print(a[0])
print(a[1])
print(a[-1])
print('--------')
print(a + b)

apple
10.4
(1-3j)
--------
['apple', 10.4, (1-3j), 1, 3, -2, 8, 9, -10]

In [7]:
b.append(20)
print(b)

b.remove(3)
print(b)

pop = b.pop()
print(b)
print(pop)

b.insert(1, 100)
print(b)

b.reverse()
print(b)

b.sort()
print(b)

[1, 3, -2, 8, 9, -10, 20]
[1, -2, 8, 9, -10, 20]
[1, -2, 8, 9, -10]
20
[1, 100, -2, 8, 9, -10]
[-10, 9, 8, -2, 100, 1]
[-10, -2, 1, 8, 9, 100]

In [8]:
c = ['Ama', 'Lulu']
d = ['Judy', 'Three Legs']
e = ['Dudu', 'Yozu']

c.extend(d)
print(c)

c.append(e)
print(c)

['Ama', 'Lulu', 'Judy', 'Three Legs']
['Ama', 'Lulu', 'Judy', 'Three Legs', ['Dudu', 'Yozu']]

## 6.3 Tuple

In [9]:
# this is a tuple
a = ('1', '2', '3')
print(a[0])
print(a[-1])
print(len(a))

1
3
3

In [10]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [11]:
my_list = [1,2,3]
my_tuple = (1,2,3)

print('*** Item Assignment to a List ***')
my_list[1] = 100
print(my_list, end='\n\n')

print('*** Item Assignment to a Tuple ***')
try:
    my_tuple[1] = 100
except Exception as e:
    print('Error message：', e)
else:
    print(my_tuple)

*** Item Assignment to a List ***
[1, 100, 3]

*** Item Assignment to a Tuple ***
Error message： 'tuple' object does not support item assignment